*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(
        #5140e7,
        #8886fb,
        #3c9df8
    );
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    padding: 1vh;
}
nav{
    display: flex;
    justify-content: right;
}
.nav-icon{
    text-decoration: none;
}
#hour-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#hour-bar object{
    margin-left: 10px;
    margin-right: 10px;
}
#info-panel{
    height: 33vh;
    width: 75%;
    background-color: rgba(242, 241, 239, 0.26);
}
#details-section{
    display: flex;
}
.column{
    flex: 50%;
    padding: 20px 10px 10px 30px;
}
.column p{
    padding: 5px;
}
h3{
    text-align: center;
}
#right-scroll{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
#overview{
    margin: 10px;
}
#tempreture{
    font-size: 1.4em;
}